---
import { config } from '../config';

const { copyright } = config.footer;
---

<footer>
  <p>{copyright}</p>
</footer>

<style>
  footer {
    margin-top: 4rem;
    padding: 2rem 0;
    border-top: 1px solid var(--color-gray-medium);
    text-align: center;
  }

  footer p {
    margin: 0;
    font-size: 0.875rem;
    color: var(--color-gray-dark);
  }
</style>

